DB_URL=jdbc:sqlserver://localhost:1433;databaseName=JAVA6;encrypt=true;trustServerCertificate=true;sendStringParametersAsUnicode=true
DB_NAME=JAVA6
DB_PORT=1433
DB_USERNAME=sa
DB_PASSWORD=Java6_Docker@12345
BACKEND_PORT=18080

JWT_SECRET=Zm9ycG9seS1qYXZhNi1kZXZlbG9wbWVudC1qd3Qtc2VjcmV0LTMydiE=
JWT_ACCESS_EXPIRATION_MS=7200000
JWT_REFRESH_EXPIRATION_MS=864000000
FRONTEND_BASE_URL=http://localhost:3000

TICKET_EXPORT_DIR=/app/tickets-export

PAYOS_BASE_URL=https://api-merchant.payos.vn
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

MAIL_USERNAME=
MAIL_PASSWORD=
